<div class="mb-3">
  <label for="firstName" class="form-label">First Name</label>
  <input type="text" class="form-control" id="firstName" [(ngModel)]="Student.firstName" placeholder="First name">
</div>

<div class="mb-3">
  <label for="lastName" class="form-label">Last Name</label>
  <input type="text" class="form-control" id="lastName" [(ngModel)]="Student.lastName" placeholder="Last name">
</div>

<div class="mb-3">
  <label for="contactNumber" class="form-label">Contact No</label>
  <input type="text" class="form-control" id="contactNumber" [(ngModel)]="Student.contactNumber" placeholder="Contact number">
</div>

<div class="mb-3">
  <button (click)="createStudent()" class="btn btn-primary">Proceed</button>
</div>
