<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">First Name</label>
      <input type="text" class="form-control" [(ngModel)]="Student.firstName" placeholder="Firs name">
    </div>
    <div class="mb-3">
      <label for="exampleInput1" class="form-label">Last Name</label>
      <input type="text" class="form-control"  [(ngModel)]="Student.lastName"  placeholder ="Last name">
    </div>
    <div class="mb-3">
      <label for="exampleInput1" class="form-label">Contact no</label>
      <input type="text" class="form-control"  [(ngModel)]="Student.contactNumber"  placeholder ="Contact no">
    </div>
    <div class="mb-3">
      <button class="btn btn-primary ">Proceed</button>
    </div>

  </form>