<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <object data="../../../assets/img/logo.svg" width="50" height="50"> </object>
      <span class="fs-6">Cp/will Laggala-Pallegama central collage</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Student</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Teachers</a></li>
      <li class="nav-item"><a href="#" class="nav-link">None academic</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
  </header>
</div>